
.body{
    background-color: rgb(83, 83, 83);
    width: 100%;
}

.texto{
    font-size: medium;
    text-align: center;
    border: 1px dotted black;
    font-weight: bolder;
    border-width: 2px;
    margin: 20px;

}

.bcard{
    border:1px solid gray;
    border-radius:4px;
    text-decoration: none;
    padding: 8px 10px;
    margin-left:10px;
}

.ficha{
    
        width:25%;
        text-align:center;
        color:#000000; 
        font-family: 'open_sansregular';
        font-size:16px;
        text-align: center;
           
}